.nav-item__container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  list-style-type: none;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
  cursor: pointer;
  color: var(--primary-color-purple-dark);
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-icon {
  font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
  margin-right: 0.3rem;
}
.nav-item__container--sm {
  background: var(--primary-color-blue-dark);
  list-style-type: none;
  padding: 2rem;
  width: 15rem;
  position: absolute;
  top: 100%;
  right: 1rem;
  display: none;
}
.nav-item--sm {
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
  cursor: pointer;
}
.nav-menu__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-white-2);
  margin-left: 4rem;
  display: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.nav-menu__burger-icon {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color-purple-dark);
}

@media screen and (max-width: 768px) {
  .nav-item__container {
    display: none;
  }
  .nav-item__container--sm {
    display: block;
  }
  .nav-menu__btn {
    display: block;
  }
}
