.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background: #000;
  padding: 2rem 4rem;
  background: linear-gradient(
      105deg,
      var(--primary-color-blue-dark) 0%,
      var(--primary-color-blue-dark) 50%,
      var(--primary-color-blue-light) 80%
    ),
    url("https://thumbs.dreamstime.com/z/fitness-people-cartoon-fitness-people-doing-exercise-weights-machine-vector-illustration-graphic-design-135024919.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: no-cover;
  margin-bottom: 2rem;
}

.quotes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.quotes-container h2 {
  margin-bottom: 2rem;
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
}

.quotes-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
  background: var(--primary-color-purple-dark);
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: var(--color-white);
  cursor: pointer;
}

.quotes-container button:disabled {
  background: gray;
  color: var(--color-white-2);
}

@media screen and (max-width: 768px) {
  .header-section {
    padding: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .header-section {
    padding: 1rem;
  }
}
