* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-family);
}

a {
  color: unset;
  text-decoration: none;
}
.section__padding {
  padding: 4rem 8rem;
}
.section__shadow {
  box-shadow: 1.8px 2.6px 7.1px rgba(0, 0, 0, 0.11),
    14px 21px 57px rgba(0, 0, 0, 0.055);
}

.app {
  min-height: 100vh;
  background: var(--primary-color-purple-dark);
  background: linear-gradient(
    169deg,
    var(--primary-color-purple-dark) 0%,
    var(--primary-color-blue-dark) 90%
  );
}

@media screen and (max-width: 768px) {
  .section__padding {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 640px) {
  .section__padding {
    padding: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .section__padding {
    padding: 1rem;
  }
}
